@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato/Lato-Regular.ttf');
    font-weight: 400;
}
